.button{
    background-color: grey;
    border-radius: 8px;
}

.updateButton{
    background-color: lightgreen;
}

body {
    font-family: Monaco;
    width: 300px;
}

/*p {*/
/*    border: 2px solid powderblue;*/
/*    margin: 5px;*/
/*}*/